<!-- 전체게시글 목록 조회 페이지 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>전체 게시글 목록 조회 페이지</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/index-function.js"></script>

</head>
  <body>
    <section class="hero is-success">
      <div class="hero-body">
        <p class="title">
          전체 게시글 목록 조회 페이지
        </p>
      </div>
    </section>
    <br>
    <p>
      <button onclick="movePostpage()" class="button is-dark">글쓰기</button>
    </p>
    <br>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>작성날짜</th>
          <th>제목</th>
          <th>작성자명</th>
        </tr>
      </thead>
      <tbody id="table">
        <!-- <tr>
          <th>11.07</th>
          <td><a href="/detail">이거시 코딩이다</a></td>
          <td>Jason</td>
        </tr>
        <tr>
          <th>11.08</th>
          <td><a href="/detail">캐나다라잎</a></td>
          <td>Jake</td>
        </tr>
        <tr>
          <th>11.08</th>
          <td><a href="/detail">파파존스 맛있다</a></td>
          <td>John</td>
        </tr> -->
        <!-- <tr>
          <th>Jake</th>
          <td><a href="detail.html">캐나다라잎</a></td> 이 전체를 append로 추가하면 될듯.
          <td>11.18</td>
        </tr> -->
      </tbody>
    </table>



  </body>
</html>