<!-- //게시물 수정 페이지 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정페이지</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/modify-function.js"></script>

</head>
    <body>
        <section class="hero is-success">
            <div class="hero-body">
                <p class="title">
                게시글 수정페이지
                </p>
            </div>
        </section>
        <br>
        <input id="userName" class="input" type="text" placeholder="작성자명" readonly>
        <input id="title" class="input" type="text" placeholder="제목" readonly>
        <input id="password" class="input" id="password" type="text" placeholder="비밀번호">
        <p>
            <textarea id="content" class="textarea" placeholder="수정할 내용을 적어주세요." rows="15"></textarea>
        </p>
        <br>
        <button onclick="modifyButton()" class="button is-dark">수정완료</button>
        <button onclick="deleteButton()" class="button is-dark">삭제하기</button>

    </body>
</html>