<!-- 회원가입 조회 페이지 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원 가입 페이지</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/register-function.js"></script>

</head>
  <body>
    <section class="hero is-success">
      <div class="hero-body">
        <p class="title">
          회원 가입 페이지
        </p>
      </div>
    </section>
    <br>
    
    <div class="field">
        <label class="label">닉네임</label>
        <p class="control has-icons-left has-icons-right">
          <input id="nickname" class="input" type="text" placeholder="사용하실 닉네임을 입력해주세요. 닉네임은 `최소 3자 이상, 알파벳 대소문자(a~z, A~Z), 숫자(0~9)`로 구성되어야 합니다.">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>

      <!-- <div class="field">
        <p class="control">
          <button onclick="registerSubmit()" class="button is-dark">
            중복 검사
          </button>
        </p>
      </div> -->

      <div class="field">
        <label class="label">비밀번호</label>
        <p class="control has-icons-left">
          <input id="password" class="input" type="password" placeholder="비밀번호를 입력해주세요. 비밀번호는 `최소 4자 이상`이며, 닉네임과 같은 값이 포함되어선 안됩니다.">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label">비밀번호 확인</label>
        <p class="control has-icons-left">
          <input id="password-check" class="input" type="password" placeholder="비밀번호를 다시 입력해주세요.">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
          <button onclick="registerSubmit()" class="button is-dark">
            회원가입
          </button>
      
         <button onclick="moveMainpage()" class="button is-dark">
            메인 페이지
         </button>
     </div>

  </body>
</html>